p {
    margin: 5px;
}
.draft:hover
{
background-color:  rgb(3, 123, 170);
}
.find:hover
{
    background-color:  rgb(3, 123, 170);
}

// .tabcolor
// {
//     background-color: blue ;
//     color: #000;
// }