<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
                <th class="th-sm-2">
                    </th>
            <th class="th-sm">Title
            </th>
            <th class="th-sm">Protocol ID
            </th>
            <th class="th-sm">Therapautic Area
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1" >
                        <label class="custom-control-label" for="tableDefaultCheck1"></label>
                        </div>
            <td>Phase 1 random study</td>
            <td>WRFF3483</td>
            <td>CARDIOVASCULAR</td>
    
        </tr>
        <tr>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" >
                        <label class="custom-control-label" for="tableDefaultCheck2"></label>
                        </div>
            <td>A Multicenter, Randomized</td>
            <td>ABFJ3948</td>
            <td>CARDIOVASCULAR</td>
        </tr>
        <tr>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3" >
                        <label class="custom-control-label" for="tableDefaultCheck3"></label>
                        </div>
            <td>A Randomized, Double-Blind</td>
            <td>JFNR7868 </td>
            <td>ONCOLOGY </td>
        </tr>

        <tr>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4" >
                        <label class="custom-control-label" for="tableDefaultCheck4"></label>
                        </div>
            <td>A Phase 2a</td>
            <td>FGJN74Randomised58</td>
            <td>ANTI-INFECTIVE</td>
        </tr>
        <tr>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck5" >
                        <label class="custom-control-label" for="tableDefaultCheck5"></label>
                        </div>
            <td>A Randomized, Double-Blind</td>
            <td>YHSD7349</td>
            <td>ONCOLOGY</td>
        </tr>
        <tr>
                <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck6" >
                        <label class="custom-control-label" for="tableDefaultCheck6"></label>
                        </div>
            <td>A Placebo-controlled, Double-blind</td>
            <td>TYIF5638</td>
            <td>CARDIOVASCULAR</td>
        </tr>
    </tbody>
</table>
<div class="form-group row text-center">
        <div class="col-md">
          <button type="submit" class="btn btn-info btn-md" (click)="generateRisk()">
            <mdb-icon fas icon="angle-double-right"></mdb-icon> Generate Risk
          </button>
          </div>
          </div>
          